{% extends 'layout.html' %}
{% block content %}
          <h1>Amoveo Network Status</h1>
          <p class="text-muted">Last Updated: {{ peers[0].updated_at.strftime('%d %b, %Y %H:%M:%S') }} (UTC) (Update interval is 1 min)</p>
          <div class="row">
            <div class="col-sm-3">
              <p class="text-muted">Top height = {{ top_height }}
            </div>
            <div class="col-sm-3">
              <p class="text-muted">Number of top height peers = {{ num_top_height_peers }}</p>
            </div>
          </div>
          <table class="table">
            <thead>
              <th>URL</th>
              <th></th>
              <th></th>
              <th>Height</th>
              <th></th>
            </thead>
            <tbody>
              {% for peer in peers %}
              <tr>
                <td>{{peer.url}}</td>
                <td><a href="{{peer.url}}/explorer.html">explorer</a></td>
                <td><a href="{{peer.url}}/wallet.html">wallet</a></td>
                {% if peer.height != None %}
                  {% if peer.height == top_height %}
                <td class="text-success">{{peer.height}}</td>
                  {% else %}
                <td>{{peer.height}}</td>
                  {% endif %}
                {% else %}
                <td></td>
                {% endif %}
                {% if peer.description != None %}
                <td>{{peer.description}}</td>
                {% else %}
                <td></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
  <script>
    setTimeout("location.reload()",1000*60);
  </script>
{% endblock %}
