<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Amoveo Network Status</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Amoveo Network Status</h1>
          <p>Last Updated: {{ peers[0].updated_at.strftime('%d %b, %Y %H:%M:%S') }} (UTC) (Update interval is 1 min)</p>
          <p>Top height = {{ top_height }}</p>
          <p>Number of top height peers = {{ num_top_height_peers }}</p>
          <table class="table">
            <thead>
              <th>URL</th>
              <th></th>
              <th></th>
              <th>Height</th>
              <th></th>
            </thead>
            <tbody>
              {% for peer in peers %}
              <tr>
                <td>{{peer.url}}</td>
                <td><a href="{{peer.url}}/explorer.html">explorer</a></td>
                <td><a href="{{peer.url}}/wallet.html">wallet</a></td>
                {% if peer.height != None %}
                  {% if peer.height == top_height %}
                <td class="text-success">{{peer.height}}</td>
                  {% else %}
                <td>{{peer.height}}</td>
                  {% endif %}
                {% else %}
                <td></td>
                {% endif %}
                {% if peer.description != None %}
                <td>{{peer.description}}</td>
                {% else %}
                <td></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <script>
    setTimeout("location.reload()",1000*60);
  </script>
  </body>
</html>
